{% extends 'hw_app/base.html' %}

{% block title %}
    База
{% endblock %}

{% block content %}
    <div class="row">
    {% for user in users %}
        <p>
            Имя: {{ user.name }}&ensp; &ensp; &ensp; Дата регистрации: {{ user.reg_day }}<br>
            E-mail: {{ user.email }}<br>
            Телефон: {{ user.mobile }}<br>
            Адрес: {{ user.us_adrs }}<br>
            <a href="{% url 'us_pr' user.id %}"> Список товаров </a>
        </p>
    {% endfor %}
    </div>
{% endblock %}
